:root {
    --bs-primary-color: #091e80;
    --bs-primary-color-10: #f1f3fe;
    --bs-primary-text-color: #121212;
    --bs-secondary-text-color: #4d4d4d;
    --bs-primary-white: #ffffff;
    --bs-secondary-color: #222222;

}